.large-screen {
    background: #FFF none repeat scroll 0 0;
    font-family: "微软雅黑", Arial, serif;
    font-size: 14px;
    margin: 0;
    color: #595952;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
